.bg-color-orange{
  background-color: orange;
  color: black;
}

.white-color{
  color:white;
}
.modal-bg-color{
  background-color: #009688;
}
.light-primary-color{
  background-color: #B2DFDB;
}

.modal-vh{
  top:220px;
}
